@import "~vue-foldable/dist/vue-foldable.css"

$blue = #2196f3
$red = #de3636
$green = #3eaf7c
$warningYellow = #e7c000

.yellow
  color: $warningYellow

.red
  color: $red

.yuu-theme-red .adaptive
  color: $red !important

.yuu-theme-blue .adaptive
  color: $blue !important

.adaptive
  color: $green !important

.icon, .adaptive
  margin-right: 5px

.yuu-theme-dark .custom-block
  .custom-block-title
    color: #d3d3d3 !important
  background-color: #1f282d !important
  color: #d3d3d3 !important

.custom-block
  .custom-block-title
    color: #2c3e50 !important
  background-color: #f3f5f7 !important
  color: #2c3e50 !important
  border-radius: 4px

.vue-foldable-container
  transition: max-height 0.3s

.vue-foldable-mask
  transition: opacity 3s

.home .chapter-container:nth-child(even)
  flex-direction: row-reverse

.home .chapter-container:nth-child(odd)
  flex-direction: row

